<section class="section-padding" id="about" href="#home">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-6 col-12">
                <h2 class="mb-lg-3 mb-3">Revolutionize</h2>

                <p>Welcome to Medi-Connect, where healthcare meets innovation! Experience the power of seamless connectivity for healthcare professionals. From managing patient records to prescribing medications and viewing lab test results, we've got you covered. Join us on our journey to transform healthcare delivery and improve patient outcomes.</p>
                <br>
                <p>Our mission is to revolutionize healthcare delivery by providing intuitive and efficient digital solutions that streamline administrative tasks, facilitate informed medical decisions, and ultimately improve patient well-being.</p>
            </div>

            <div class="col-lg-4 col-md-5 col-12 mx-auto">
                <div class="featured-circle bg-white shadow-lg d-flex justify-content-center align-items-center">
                    <p class="featured-text"><span class="featured-number">12</span> Years<br> of Services in Healthcare</p>
                </div>
            </div>

        </div>
    </div>
</section>